@charset "UTF-8";
@import "font.css";
@import "reset.css";
@import "jquery.bxslider.css";
@import "slick.css";
@import "slick-theme.css";
@import "jquery.fancybox.min.css";
@import "social-button.css";
@import "daterangepicker.css";
@import "style.css";
@import "responsive.css";
