/* Visual Editor Style */
.style_h2
{
	font-weight:bold;
	font-size:30px;
	margin:20px 0;
}

.style_h3
{
	font-weight:bold;
	font-size:25px;
	margin:20px 0;
	background:url(images/style_h3.png) no-repeat 0 0;
	padding:0 0 10px 45px;
	border-bottom:3px solid #e3d28c;
}


.style_h3
{
	font-weight:bold;
	font-size:25px;
	margin:20px 0;
	background:url(images/style_h3.png) no-repeat 0 0;
	padding:0 0 10px 45px;
	border-bottom:3px solid #e3d28c;
}

.style_h4
{
	font-weight:bold;
	font-size:20px;
	margin:20px 0;
	background:url(images/style_h401.png) no-repeat 10px 12px, url(images/style_h402.png) no-repeat top right, #fbf5dc;
	padding:5px 0 5px 40px;
}


.style_h5
{
	font-weight:bold;
	color:#e3d28c;
	margin:20px 0;
	background:url(images/style_h5.png) no-repeat 0 10px;
	padding:5px 0 5px 25px;
}


.style_h6
{
	font-weight:bold;
	margin:20px 0;
	padding:0 0 0 10px;
	border-left:5px solid #e3d28c;
}

.style_list li
{
	background:url(images/style_listicon.png) no-repeat 0 5px;
	padding:0 0 0 15px;
	margin:7px 0;
}
/*----------Table 01--------------*/

.table_01 {
  position: relative;
  width: 100%;
}

.table_01:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/price/table_01_bg.png);
  width: 100%;
  height: 3px;
}

.table_01:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(images/price/table_01_bg.png);
  width: 100%;
  height: 3px;
}

.table_01 th, .table_01 td {
  background: #FFF;
  padding: 10px;
  font-size: 25px;
  border-top: 1px dotted #a8a8a8;
  font-weight: bold;
}

.table_01 td {
  color: #7e5c0d;
}

.table_01 tr:first-child th, .table_01 tr:first-child td {
  border-top: none;
}

/*---------- Table 03--------------*/
.table_03 {
  width: 100%;
}

.table_03 th {
  font-size: 50px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: rgba(82,63,18,0.7);
  border-bottom: 1px solid #d4c381;
  width: 160px;
}

.table_03 td {
  font-size: 30px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: rgba(82,63,18,0.7);
  border-left: 1px solid #d4c381;
  border-bottom: 1px solid #d4c381;
}

.table_03 td span {
  font-size: 50px;
  font-weight: bold;
}

.table_03 tr.last th, .table_03 tr.last td {
  background: rgba(82,63,18,1);
}